body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 576px) {
  body {
    background: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.App {
  text-align: center;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0;
  min-width: 360px;
}
