.container {
  margin: 50px;
  font-family: sans-serif;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 50px;
}

h1 {
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
  font-weight: 550;
  font-family: "Montserrat Subrayada", sans-serif;
}
