footer {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #28385e;
}

@media (min-width: 576px) {
  footer {
    margin-top: 20px;
  }
}

footer .link-footer {
  color: #28385e;
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}

footer .link-footer:hover {
  color: #516c8d;
  text-decoration: none;
}
