.Search form {
  margin-bottom: 60px;
  margin-left: -7px;
}

@media (min-width: 576px) {
  .Search form {
    margin-bottom: 80px;
    margin-left: -7px;
  }
}

.Search button {
  cursor: pointer;
  background-color: #fff;
  outline: #fff;
}
