.TempUnits {
  float: right;
  font-size: 1.25rem;
  font-weight: 400;
}

.TempUnits .active {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.TempUnits .active:hover {
  text-decoration: none;
}

.TempUnits .inactive {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
