.WeatherApp {
  padding: 20px;
  color: #fff;
  background: #28385e;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px;
}

@media (min-width: 576px) {
  .WeatherApp {
    padding: 50px;
    margin: 50px 25px 0 0;
  }
}

.WeatherApp .head .city {
  text-transform: uppercase;
  font-size: 1.25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  float: left;
  margin-left: -15px;
}

.WeatherApp .icon i {
  font-size: 12rem;
  margin-top: 10px;
}

.WeatherApp .description {
  font-size: 1.3rem;
  margin-bottom: 7px;
  text-transform: capitalize;
  margin-bottom: -24px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.WeatherApp .temp {
  clear: both;
  margin-bottom: -22px;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 4.4rem;
}

.WeatherApp .details {
  margin-top: 20px;
}

.WeatherApp .detail-text {
  font-weight: 700;
}

.WeatherApp .search form {
  margin-bottom: 60px;
  margin-left: -7px;
}

@media (min-width: 576px) {
  .WeatherApp .search form {
    margin-bottom: 80px;
    margin-left: -7px;
  }
}

.WeatherApp .search button {
  cursor: pointer;
  background-color: #fff;
  outline: #fff;
}

.form .search-location {
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  position: relative;
  bottom: 1.9px;
}

.form .search-location:hover {
  color: #dddddd;
}
