.weather {
  padding: 20px;
  color: #fff;
  background: #28385e;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px;
}

@media (min-width: 576px) {
  .weather {
    padding: 40px;
    margin: 30px 25px 0 0;
  }
}

.weather .city {
  text-transform: uppercase;
  font-size: 1.25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  float: left;
}

.weather .search form {
  margin-bottom: 80px;
  margin-left: -7px;
}

.weather .search button {
  cursor: pointer;
  background-color: #fff;
  outline: #fff;
}

.weather .form .search-location {
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  position: relative;
  bottom: 1.9px;
}

.weather .form .search-location:hover {
  color: #dddddd;
}

.weather .temp-units {
  float: right;
  font-size: 1.25rem;
  font-weight: 400;
}

.weather .temp-units .active {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.weather .temp-units .active:hover {
  text-decoration: none;
}

.weather .temp-units .inactive {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}

.weather hr {
  border: 0.1px solid #fff;
  margin: 20px auto;
}
